@import "../../../Variables/Variables.module.scss";
@import "../../../CommonStyles/CommonStyles.modules";

.basketMain {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 165px 15px;
  background: $cream;

  .cartEmpty {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin: auto;
    gap: 25px;

    img {
      max-width: 80px;
      object-fit: cover;
      object-position: center;
      width: 100%;
    }

    p {
      font-size: 25px;
    }

    .container {
      display: flex;
      align-items: end;
      height: 55px;
    }

  }

  .basketContent {
    max-width: 1400px;
    width: 100%;
    display: flex;
    gap: 20px;

    .basketCardsWrapper {
      display: flex;
      max-width: 950px;
      width: 100%;
      flex-direction: column;
      gap: 40px;

      .tableRow {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;

        &.topRow {
          .cell {
            font-weight: 700;
          }
        }

        &.bottomRow {
          border-bottom: 1px solid rgba(128, 128, 128, 0.2);
        }

        .cell {
          display: flex;
          align-items: center;
          padding: 30px 0;
          margin-right: 30px;
          width: 100%;
          font-size: 20px;
        }

        .product {
          max-width: 375px;

          img {
            max-width: 120px;
            width: 100%;
            object-position: center;
            object-fit: cover;
            margin-right: 25px;
          }

          a {
            font-size: 25px;
            transition: color $transition;

            &:hover {
              color: red;
            }
          }
        }

        .price {
          max-width: 100px;

          b {
            font-size: 25px;
            font-weight: 400;
          }
        }

        .quantity {
          max-width: 100px;
          align-items: center;

          .basketButton {
            display: flex;
            align-items: center;
            max-width: min-content;
            width: 100%;
            margin-top: 10px;
            background-color: rgba(128, 128, 128, 0.2);
            margin-bottom: 10px;
            border: 1px solid $yellow;

            .controlBtn {
              display: flex;
              width: 21px;
              height: 100%;
              cursor: pointer;
              align-items: center;
              justify-content: center;
              font-size: 25px;

              &:nth-child(2) {
                width: 45px;
                cursor: default;
              }
            }
          }
        }

        .subtotal {
          max-width: 100px;

          b {
            font-weight: 400;
            font-size: 25px;
          }
        }

        .delete {
          max-width: 115px;
          justify-content: end;

          .deleteBtn {
            cursor: pointer;
            border-radius: 10px;
            background: $black;
            color: $yellow;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 45px;
            height: 45px;
            transition: transform $transition, color $transition;

            &:hover {
              transform: rotate(360deg);
              color: red;
            }

            svg {
              font-size: 28px;
            }
          }
        }
      }

      .container {
        display: flex;
        align-items: end;
        height: 55px;
        max-width: 250px;
        width: 100%;

        .button {
          width: 100%;
        }
      }
    }

    .basketRight {
      display: flex;
      max-width: 420px;
      width: 100%;
      border: 2px solid $black;
      background: $yellow;
      justify-content: center;
      padding: 30px;
      flex-direction: column;
      height: min-content;
      gap: 25px;
      .rightContainer {
        width: 100%;
        justify-content: space-between;
        align-items: center;
        display: flex;
        h1 {
          font-size: 22px;
        }
        p {
          font-size: 18px;
        }
      }

      .container {
        display: flex;
        align-items: end;
        height: 45px;
        width: 100%;
        .button {
          width: 100%;
        }
      }

    }
  }

  .basketPageSlider {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 30px;

    h2 {
      margin-bottom: 35px;
      padding: 0 10px;
    }

    .sliderContent {
      display: flex;
      max-width: 1420px;
      width: 100%;
      flex-direction: column;

      .sliderProducts {
        width: 100%;
        display: flex;

        .cardOfProduct {
          padding: 15px 0;
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .basketMain {
    .basketContent {
      .basketRight {
        max-width: 300px;
      }
      .basketCardsWrapper {
        max-width: unset;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .basketMain {
    padding: 120px 15px;
    .basketContent {
      flex-direction: column;
      .basketCardsWrapper {
        order: 2;
        gap: 0;
        .tableRow {
          .product {
            img {
              max-width: 100px;
            }
            a {
              font-size: 22px;
            }
          }
          .delete {
            max-width: 50px;
          }
          .subtotal {
            max-width: 80px;
          }
          .price {
            max-width: 80px;
          }

        }
        .container {
          margin-top: 25px;
        }

      }
      .basketRight {
        width: 100%;
        max-width: 100%;
        align-items: center;
        .container {
          max-width: 250px;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .basketMain {
    padding: 120px 15px 50px 15px;

    .basketContent {
      .basketCardsWrapper {
        .topRow {
          display: none;
        }

        .tableRow {
          flex-direction: column;
          padding: 0 15px 25px 15px;
          .cell {
            padding: 15px 0;
          }

          .product {
            max-width: 100%;
            width: 100%;
            flex-direction: column;
            align-items: start;
            gap: 10px;

            a {
              font-size: 30px;
            }
            img {
              max-width: 150px;
            }
          }

          .price {
            width: 100%;
            max-width: 100%;

            b {
              font-size: 30px;
            }
          }

          .quantity {
            max-width: 100%;
            width: 100%;

            .basketButton {
              width: 100%;
            }
          }

          .subtotal {
            max-width: 100%;
            width: 100%;
            b {
              font-size: 30px;
            }
          }

          .delete {
            width: 100%;
            max-width:unset;
            margin-right: auto;
            margin-left: -15px;
            justify-content: start;
            .deleteBtn {
              max-width: 100%;
              height: 60px;
              width: 60px;
              border-radius: 20%;
            }
          }
        }
        .container {
          margin-top: 0;
        }

      }
    }
  }
}

@media screen and (max-width: 500px) {
  .basketMain {
    .basketContent {
      .basketCardsWrapper {

        .tableRow {
          .cell {
            padding: 15px 0;
            justify-content: center;
            align-items: center;
            margin-right: 0;
          }
          .product {
            img {
              margin-right: 0;
            }
          }
          .delete {
            margin: 0;
          }
        }
        .container {
          max-width: 100%;
        }

      }
    }
  }
}

