@import "../../../CommonStyles/CommonStyles.modules";
@import "../../../Variables/Variables.module";
@import "../../../Animations/Animations.module";

.radioLabel {
  color: $black !important;

  span {
    font-family: $main-font !important;
  }
}

.radioBtn {
  color: $black !important;
}

.menuMain {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  background: $cream;

  .menuSection {
    display: flex;
    width: 100%;
    position: relative;
    justify-content: center;
    padding: 250px 15px 50px 15px;

    .decoration {
      position: absolute;

      &.shake {
        left: 50px;
        top: 150px;
        max-width: 300px;
      }

      &.hotDog {
        max-width: 270px;
        right: 50px;
        top: 250px;
      }

      img {
        width: 100%;
        object-position: center;
        object-fit: cover;
      }

    }

    .menuContent {
      display: flex;
      width: 100%;
      max-width: 1170px;
      flex-direction: column;
      align-items: center;
      color: $black;

      h1 {
        font-size: 125px;
        line-height: 115px;
        text-align: center;
      }

      p {
        font-size: 32px;
        text-align: center;
      }

      .container {
        display: flex;
        align-items: end;
        height: 65px;

        .button {
          min-width: 250px;
        }
      }
    }
  }

  .productsSection {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 15px;

    .productsContent {
      max-width: 1200px;
      width: 100%;
      display: flex;
      gap: 15px;
      justify-content: space-between;

      .productsWrapper {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        width: 100%;
        max-width: 900px;
        min-height: 300px;
        position: relative;
        padding-bottom: 75px;
        justify-content: center;

        .paginationWrapper {
          display: flex;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
        }

        .noProducts {
          padding: 15px;
        }

        .productCard {
          display: flex;
          flex-direction: column;
          max-width: 285px;
          width: 100%;
          padding: 10px;
          gap: 10px;

          .productImage {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            min-height: 360px;
            position: relative;
            padding: 50px 0;

            &:hover {
              img {
                transform: scale(1.1);
              }
            }

            .wishItem {
              position: absolute;
              left: 2.5px;
              top: 2.5px;
              cursor: pointer;

              svg {
                color: $black;
                font-size: 25px;

              }
            }

            .ingredients {
              position: absolute;
              bottom: 0;
              left: 0;
              color: $black;
              background: linear-gradient(to right, $yellow 0%, transparent 100%);
              padding: 5px 10px;
              width: 100%;
              border-radius: 5px 0 0 5px;
              min-height: 46px;
              align-items: center;
              display: flex;
            }

            .price {
              position: absolute;
              top: 0;
              right: 0;
              color: $black;
              background: linear-gradient(to left, gray 0%, transparent 100%);
              padding: 3px 10px;
              border-radius: 0 5px 5px 0;
              display: flex;
              gap: 5px;
              font-size: 20px;
              min-width: 119px;
              justify-content: end;

              p {
                text-decoration: line-through;
              }
            }

            .outOfStock {
              position: absolute;
              top: 40px;
              right: 0;
              color: white;
              background: linear-gradient(to left, red 0%, transparent 100%);
              padding: 3px 10px;
              border-radius: 0 5px 5px 0;
              display: flex;
              gap: 5px;
              font-size: 20px;
              min-width: 119px;
              justify-content: end;

            }

            img {
              width: 100%;
              object-fit: cover;
              object-position: center;
              transition: transform $transition;
            }
          }

          .productTitle {
            display: flex;
            width: 100%;
            padding: 10px;
            flex-direction: column;

            a {
              font-size: 25px;
              transition: color $transition;

              &:hover {
                color: orangered;
              }
            }

            p {
              font-size: 18px;
              color: gray;
              margin: 5px 0;
            }

            .container {
              display: flex;
              width: 100%;
              align-items: end;
              height: 65px;

              .button {
                width: 100%;
              }
            }
          }
        }

      }

      .productsOptions {
        display: flex;
        max-width: 250px;
        width: 100%;
        flex-direction: column;
        padding: 0 15px;
        gap: 35px;

        .optionsContainer {
          display: flex;
          flex-direction: column;
          color: $black;
          width: 100%;

          p {
            font-size: 22px;
            margin-bottom: 15px;
            color: $black;

            &.availability {
              margin-bottom: 5px;
            }
          }

          .priceContainer {
            display: flex;
            width: 100%;
            flex-direction: column;
            gap: 10px;

            .priceValues {
              font-size: 20px;
            }
          }

          .searchWrapper {
            width: 100%;
            border: 1px solid black;
            border-radius: 2px;
            display: inline-flex;
            align-items: center;
            padding: 5px 10px;

            svg {
              font-size: 25px;
            }

            input {
              width: 100%;
              background: transparent;
              font-size: 20px;
              padding: 2px 5px;
              outline: 0;
              border: 0;
            }
          }

          .categories {
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: 18px;

            li {
              &:hover {
                color: gray;
              }

              cursor: pointer;
              transition: color $transition;

            }
          }
        }

      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .menuMain {
    .menuSection {
      .decoration {
        &.shake {
          max-width: 200px;
        }

        &.hotDog {
          max-width: 200px;
        }
      }

      .menuContent {
        h1 {
          font-size: 100px;
        }

        p {
          font-size: 28px;
        }

        .container {
          .button {
            max-width: 200px;
            min-width: unset;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .menuMain {
    .menuSection {
      .menuContent {
        h1 {
          font-size: 80px;
        }

        p {
          font-size: 25px;
        }
      }
    }

    .productsSection {
      .productsContent {
        .productsOptions {
          margin-right: 125px;
        }
      }
    }
  }
}

@media screen and (max-width: 1050px) {
  .menuMain {
    .menuSection {
      .menuContent {
        h1 {
          font-size: 80px;
        }

        p {
          font-size: 25px;
        }
      }
    }

    .productsSection {
      .productsContent {
        .productsOptions {
          margin-right: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  .menuMain {
    .menuSection {
      .menuContent {
        h1 {
          font-size: 80px;
        }

        p {
          font-size: 25px;
        }
      }
    }

    .productsSection {
      .productsContent {
        .productsWrapper {
          gap: 10px;
          justify-content: start;

        }

        .productsOptions {
          margin-right: 25px;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .menuMain {
    .menuSection {
      padding: 125px 15px 50px 15px;

      .decoration {
        &.shake {
          max-width: 150px;
          top: 100px;
        }

        &.hotDog {
          max-width: 150px;
          top: 100px;

        }
      }

      .menuContent {
        h1 {
          font-size: 60px;
          line-height: 80px;
        }
      }
    }

    .productsSection {
      .productsContent {
        .productsOptions {
          margin-right: 0;
          max-width: 200px;
        }
      }
    }
  }
}

@media screen and (max-width: 850px) {
  .menuMain {
    .productsSection {
      .productsContent {
        flex-direction: column;
        gap: 35px;

        .productsWrapper {
          order: 1;

        }

        .productsOptions {
          max-width: unset;
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .menuMain {
    .menuSection {
      padding: 150px 15px 0 15px;

      .decoration {
        &.shake {
          left: 0;
        }

        &.hotDog {
          right: 0;
        }
      }

      .menuContent {
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 20px;
        }
        .container {
          height: 50px;
        }
      }
    }
  }
}

@media screen and (max-width: 625px) {
  .menuMain {
    .menuSection {
      .decoration {
        &.shake {
          top: 68px;
        }

        &.hotDog {
          top: 70px;
        }
      }
    }

    .productsSection {
      .productsContent {
        .productsWrapper {
          justify-content: center;

          .productCard {
            max-width: 400px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .menuMain {
    .menuSection {
      .decoration {
        &.shake {
          max-width: 100px;
        }

        &.hotDog {
          max-width: 100px;

        }
      }
    }

    .productsSection {
      .productsContent {
        .productsWrapper {
          .productCard {
            max-width: 290px;
          }
        }
      }
    }
  }
}