@import "../../../Variables/Variables.module";
@import "../../../Animations/Animations.module";
@import "../../../CommonStyles/CommonStyles.modules";

.headerWrapper {
  width: 100%;
  padding: 15px 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $black;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid $yellow;

  .cartWrapper {
    position: absolute;
    left: -370px;
    top: 91px;
    width: 100%;
    max-width: 370px;
    background: $black;
    padding: 0 0 15px 15px;
    transition: left $transition;
    border-right: 1px solid $yellow;
    border-bottom: 1px solid $yellow;

    .productsWrapper {
      max-height: 317px;
      height: 100%;
      overflow-y: auto;
      padding-right: 10px;
      min-height: 250px;
      width: 100%;

      .emptyCart {
        display: flex;
        flex-direction: column;
        gap: 15px;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        color: white;
        margin-top: 72px;

        img {
          max-width: 70px;
          width: 100%;
          object-fit: cover;
          object-position: center;
          filter: invert(1);
        }
      }

      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: $yellow;
      }

      &::-webkit-scrollbar-thumb {
        background: orangered;
        border-radius: 10px;
      }


      .productCard {
        display: flex;
        width: 100%;
        gap: 15px;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid yellow;
        padding: 15px 0;

        &:last-child {
          border-bottom: none;
        }

        .productTitle {
          display: flex;
          flex-direction: column;
          width: 100%;
          gap: 10px;
          max-width: 200px;

          .container {
            display: flex;
            gap: 15px;
            width: 100%;
            font-size: 20px;
            color: white;
            align-items: center;

            .counter {
              display: flex;
              align-items: center;
              height: 30px;
              max-width: 99px;
              width: 100%;
              font-size: 20px;
              justify-content: space-between;
              border: 1px solid $yellow;
              border-radius: 3px;

              span {
                cursor: pointer;
                max-width: 33px;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: $yellow;

                &:nth-child(2) {
                  cursor: default;
                }
              }
            }
          }

          .button {
            background: orangered;
            color: white;

            &:hover {
              background: #f57347;
            }
          }

          h2 {
            color: $yellow;
            font-weight: 400;
            font-size: 25px;
          }
        }

        .productImage {
          max-width: 125px;
          height: 125px;
          width: 100%;
          border: 1px solid $yellow;

          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
        }
      }

    }

    &.active {
      left: 0;
    }

    .buttons {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 15px 15px 0 0;
      flex-direction: column;
      gap: 15px;
      border-top: 1px solid $yellow;

      span {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        gap: 25px;
        color: white;
        font-size: 25px;
      }

      .container {
        justify-content: space-between;
        gap: 10px;
        width: 100%;
        display: flex;
        height: 45px;
        align-items: end;

        .button {
          width: 50%;
        }
      }

    }
  }

  .headerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    .container {
      display: flex;
      align-items: center;

      &:nth-child(1) {
        justify-content: start;

        .button {
          gap: 5px;
          color: $black;

          svg {
            font-size: 20px;
            margin-bottom: 2px;
            color: $black
          }
        }
      }

      &:nth-child(2) {
        justify-content: center;
        background-color: $yellow;
        width: 100%;
        max-width: 200px;
        border-radius: 10px;
        padding: 10px;
      }

      &:nth-child(3) {
        max-width: 133.56px;
        width: 100%;
        justify-content: end;
      }

      img {
        width: 100%;
        object-position: center;
        object-fit: cover;
      }

      .menuBtn {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        cursor: pointer;

        &:hover {
          svg {
            transform: scale(1.1);
          }
        }

        svg {
          transition: transform $transition;
          font-size: 40px;
          color: $yellow;
        }

      }
    }
  }

  .menuContainer {
    position: fixed;
    top: 0;
    min-height: 100vh;
    height: 100%;

    background-color: $black;
    max-width: 60%;
    width: 100%;
    transition: right 1s ease, opacity 0.8s ease;
    right: -100%;
    display: flex;
    opacity: 0;
    pointer-events: none;
    border-left: 1px solid $yellow;

    &.menuActive {
      right: 0;
      pointer-events: auto;
      opacity: 1;
    }

    .closeMenu {
      position: absolute;
      right: 25px;
      top: 25px;
      width: min-content;
      cursor: pointer;
      padding: 10px;

      &:hover {
        svg {
          transform: scale(1.1) rotate(360deg);
        }
      }

      svg {
        transition: transform $transition;
        font-size: 40px;
        color: $yellow;
      }
    }

    .menuContent {
      display: flex;
      padding: 100px 0 0 150px;
      height: min-content;
      width: 100%;

      .titleContainer {
        display: flex;
        flex-direction: column;
        max-width: 400px;
        width: 100%;

        .menuItems {
          opacity: 0;
          transform: translateX(150%);
          display: flex;
          flex-direction: column;
          transition: opacity 0.5s ease, transform 1s ease;

          &.animated {
            opacity: 1;
            transform: translateX(0);
            transition-delay: 800ms;
          }

        }

        .menuItem {
          font-size: 60px;
          color: white;
          transition: color $transition;
          &.active {
            color: orangered!important;
          }


          svg {
            font-size: 50px;
            color: $yellow;
            margin-top: 15px;
          }

          &:hover {
            color: $yellow;
          }
        }

        .iconsContainer {
          display: flex;
          align-items: center;
          gap: 20px;
          margin-top: 10px;

          a {
            &:hover {
              svg {
                color: white;
              }
            }

            svg {
              font-size: 50px;
              color: $yellow;
              transition: color $transition;
            }
          }
        }
      }

      .animatedContainer {
        display: flex;
        max-width: 400px;
        width: 100%;
        align-items: end;
        justify-content: end;

        img {
          max-width: 180px;
          width: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

    }
  }
}

//MAX-WIDTH
@media screen and (max-width: 1200px) {
  .headerWrapper {
    padding: 15px;
    .menuContainer {
      .menuContent {
        padding: 100px 0 0 75px;
      }
    }

  }
}
@media screen and (max-width: 1000px) {
  .headerWrapper {
    .menuContainer {
      .menuContent {
        padding: 100px 0 0 75px;
        .animatedContainer {
          align-items: start;
        }
      }
    }

    .headerContent {
      .container {
        &:nth-child(2) {
          max-width: 150px;
          margin-right: 75px;
        }

        &:nth-child(3) {
          max-width: min-content;
        }
      }
    }
  }
}
@media screen and (max-width: 800px) {
  .headerWrapper {
    padding: 5px 15px;
    .menuContainer {
      .menuContent {
        padding: 100px 0 0 50px;
        .titleContainer {
          .menuItem {
            font-size: 40px;
          }
        }
        .animatedContainer {
          align-items: start;
          display: none;
        }
      }
    }


    .cartWrapper {
      top: 71px;
    }

    .headerContent {
      .container {
        &:nth-child(2) {
          margin: 0 40px 0 0;
        }
      }
    }
  }
}
@media screen and (max-width: 600px) {
  .headerWrapper {
    .menuContainer {
      .closeMenu {
        svg {
          font-size: 30px;
        }
      }
      .menuContent {
        padding: 75px 0 0 35px;
        .titleContainer {
          .menuItem {
            font-size: 32px;
            svg {
              font-size: 32px;
              margin-top: 5px;

            }
          }
          .iconsContainer {
            gap: 10px;
            margin-top: 0;
            a {
              svg {
                font-size: 32px;
              }
            }
          }
        }
      }
    }

    .cartWrapper {
      top: 65px;
      max-width: 100%;
      left: -100%;
      border-right: 0;

      .productsWrapper {
        .productCard {
          .productTitle {
            .container {
              flex-direction: column;
              align-items: start;
            }
          }

        }
      }
    }

    .headerContent {
      .container {
        &:nth-child(1) {
          .button {
            p {
              display: none;
            }
          }
        }

        &:nth-child(2) {
          max-width: 136px;
          padding: 5px;
          margin: 0 0 0 13px;

        }

        &:nth-child(3) {
          .menuBtn {
            svg {
              font-size: 34px;
            }
          }
        }

      }
    }
  }
}
@media screen and (max-width: 450px) {
  .headerWrapper {
    .menuContainer {
      max-width: 100%;
      .menuContent {
        padding: 75px 0 0 0!important;
        justify-content: center;
        .titleContainer {
          align-items: center;
          .menuItems {
            align-items: center;
            .menuItem {
              font-size: 32px!important;
              svg {
                font-size: 32px!important;
                margin-top: 5px;

              }
            }
          }
        }
      }
    }


  }
}

//MAX-HEIGHT
@media screen and (max-height: 550px) {
  .headerWrapper {
    .cartWrapper {
      height: 100vh;
      .productsWrapper {
        max-height: 280px;
      }
    }


  }
}

@media screen and (max-height: 850px) {
  .headerWrapper {
    .menuContainer {
      .menuContent {
        padding: 50px 0 0 75px;

        .titleContainer {
          .menuItems {
            .menuItem {
              font-size: 35px;
            }
          }
        }
      }
    }


  }
}
