@import "../../../CommonStyles/CommonStyles.modules";
@import "../../../Variables/Variables.module";
@import "../../../Animations/Animations.module";

.pageMain {
  display: flex;
  width: 100%;
  padding: 165px 0 50px 0;
  background: $cream;
  flex-direction: column;
  align-items: center;
  .headingSection {
    display: flex;
    width: 100%;
    padding: 0 15px;
    justify-content: center;
    .headingContent{
      display: flex;
      width: 100%;
      max-width: 1170px;
      align-items: center;
      flex-direction: column;
      h1 {
        font-size: 90px;
        color: $black;
        text-align: center;
      }
      p {
        font-size: 25px;
        color: $black;
        text-align: center;
        max-width: 800px;
      }
      .container {
        display: flex;
        align-items: end;
        height: 65px;
      }
    }
  }
  .pageSection {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 75px 15px 25px 15px;

    .sectionContent {
      display: flex;
      max-width: 850px;
      width: 100%;
      gap: 50px;

      .imageBlock {
        width: 100%;
        max-width: 450px;
        position: relative;
        min-height: 450px;
        justify-content: center;
        align-content: center;

        .scaler {
          position: absolute;
          left: 0;
          top: 0;
          background: $yellow;
          width: 50px;
          height: 50px;
          display: flex;
          align-items: center;
          justify-content: center;
          box-shadow: 0 0 5px gray;
          cursor: pointer;

          &:hover {
            svg {
              transform: rotate(360deg);
            }
          }

          svg {
            transition: transform $transition;
            font-size: 28px;
            color: $black;
          }

        }

        img {
          width: 100%;
          object-position: center;
          object-fit: cover;
          transition: transform $transition;

          &.expanded {
            transform: scale(1.1);
          }
        }
      }
      .titleBlock {
        display: flex;
        flex-direction: column;
        width: 100%;
        h1 {
          font-size: 40px;
        }
        p {
          font-size: 22px;
          color: gray;
          margin: 10px 0;
        }
        .ratingBlock {
          display: flex;
          align-items: center;
        }
        .buttonsBlock {
          display: flex;
          align-items: end;
          gap: 10px;
          margin: 10px 0 25px 0;
          justify-content: start;
          height: 55px;
          .button {
            min-height: 46px;
            &:nth-child(2) {
              padding: 8px 15px;
            }
          }
        }
        >span {
          display: inline-flex;
          align-items: start;
          font-size: 15px;
          gap: 5px;
          margin: 5px 0;
          p {
            font-size: 15px;
            margin: 0;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .pageMain {
    .headingSection {
      .headingContent {
        h1 {
          font-size: 70px;
        }
        p {
          font-size: 22px;
          text-align: center;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .pageMain {
    .headingSection {
      .headingContent {
        h1 {
          font-size: 50px;
        }
        p {
          font-size: 20px;
          max-width: unset;
          text-align: center;
        }
      }
    }
    .pageSection {
      .sectionContent {
        gap: 25px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .pageMain {
    padding: 125px 0 25px 0;
    .headingSection {
      .headingContent {
        h1 {
          font-size: 40px;
        }
        .container {
          height: 50px;
        }
      }
    }
    .pageSection {
      .sectionContent {
        gap: 0;
        justify-content: space-between;
        .titleBlock {
          max-width: 300px;
          >span {
            flex-direction: column;
            align-items: center;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .pageMain {
    padding: 115px 0 0 0;
    .pageSection {
      .sectionContent {
        justify-content: unset;
        align-items: center;
        flex-direction: column;
        .titleBlock {
          max-width: unset;
          align-items: center;
          h1 {
            font-size: 32px;
            text-align: center;
          }
          p {
            font-size: 20px;
            text-align: center;
          }
        }
      }
    }
  }
}