@import "../../../Variables/Variables.module";
@import "../../../CommonStyles/CommonStyles.modules.scss";

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  color: orangered!important;
}
h3 {
  font-size: 35px;
  margin-bottom: 25px;
  font-weight: 600;
}

.checkoutEmpty {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 100%;
  max-width: 300px;
  margin: 80px auto;
  align-items: center;

  img {
    max-width: 100px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0 auto;
  }

  p {
    font-size: 17px;
    text-align: center;
  }
.container {
  display: flex;
  align-items: end;
  height: 45px;
}
}


  .checkoutMain {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 165px 15px 75px 15px;
    background: $cream;
    min-height: 100vh;

    .checkoutSection {
      display: flex;
      width: 100%;
      max-width: 1290px;
      flex-direction: column;

      .emptyCart {
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 50px;

        p {
          font-size: 17px;
        }
      }

      .checkoutContent {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;

        .checkoutForm {
          display: flex;
          width: 100%;
          justify-content: space-between;

          //LEFT
          .checkoutLeft {
            display: flex;
            width: 100%;
            max-width: 634px;
            flex-direction: column;
            padding: 50px;
            background-color: $yellow;
            box-shadow: 0 0 5px $black;
            height: min-content;

            .formRow {
              display: flex;
              width: 100%;
              justify-content: space-between;
              align-items: center;
              padding-bottom: 45px;
              gap: 50px;

              .formShortBlock {
                display: flex;
                flex-direction: column;
                width: 100%;
                max-width: 302px;

                p {
                  font-size: 18px;
                  margin-bottom: 15px;

                  span {
                    font-size: 22px;
                    color: red;
                  }
                }

                input {
                  width: 100%;
                  padding: 8px 0;
                  background-color: transparent;
                  border: 0;
                  outline: 0;
                  border-bottom: 1px solid $black;
                }
              }

              .formLongBlock {
                display: flex;
                width: 100%;
                flex-direction: column;

                p {
                  font-size: 18px;
                  margin-bottom: 15px;

                  span {
                    font-size: 22px;
                    color: red;

                  }
                }

                select {
                  width: 100%;
                  padding: 8px 0;
                  border: 0;
                  outline: 0;
                  border-bottom: 1px solid $black;
                  font-size: 15px;
                  background: transparent;

                }

                input {
                  width: 100%;
                  padding: 8px 0;
                  background-color: transparent;
                  border: 0;
                  outline: 0;
                  border-bottom: 1px solid $black;

                  &::placeholder {
                    color: rgba(0, 0, 0, 0.5);
                  }
                }
              }
            }

            .additionalInfo {
              display: flex;
              flex-direction: column;


              label {
                display: flex;
                width: 100%;
                flex-direction: column;
                font-size: 18px;
                gap: 10px;

                textarea {
                  height: 140px;
                  padding: 8px 0;
                  border: 0;
                  outline: 0;
                  background-color: transparent;
                  border-bottom: 1px solid $black;
                  font-size: 15px;
                  resize: none;

                  &::placeholder {
                    color: rgba(0, 0, 0, 0.5);
                  }
                }

              }
            }
          }

          //RIGHT
          .checkoutRight {
            display: flex;
            width: 100%;
            max-width: 600px;
            flex-direction: column;
            gap: 50px;


            .orderContainer {
              display: flex;
              width: 100%;
              flex-direction: column;
              padding: 50px;
              background-color: $yellow;
              box-shadow: 0 0 5px $black;


              .orderRow {
                display: flex;
                width: 100%;
                justify-content: space-between;
                font-size: 18px;
                border-bottom: 1px solid $black;
                padding: 25px 0;
                font-weight: 400;

                p {
                  display: inline-flex;
                  gap: 5px;
                }
              }
            }

            .paymentContainer {
              display: flex;
              width: 100%;
              flex-direction: column;
              padding: 67px 50px;
              box-shadow: 0 0 5px $black;
              background-color: $yellow;

              .paymentTypeRow {
                display: flex;
                flex-direction: column;
                width: 100%;
                gap: 5px;
                padding: 23px 0;
                border-bottom: 1px solid $black;
                b {
                  margin-bottom: 15px;
                  font-size: 20px;
                }
              }

              .paymentPrivacyPolicy {
                display: flex;
                width: 100%;
                flex-direction: column;
                padding: 23px 0;

                p {
                  font-size: 14px;
                  margin-bottom: 25px;
                  line-height: 24px;

                  a {
                    position: relative;

                    &:after {
                      content: "";
                      position: absolute;
                      height: 1px;
                      width: 100%;
                      bottom: -2px;
                      left: 0;
                    }
                  }

                }

              .container {
                display: flex;
                align-items: end;
                height: 55px;
              }
              }
            }
          }

        }
      }
    }
  }

@media screen and (max-width: 1440px) {
  .checkoutPageWrapper {
    .checkoutMain {
      .checkoutSection {
        .checkoutContent {
          .checkoutForm {
            gap: 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  h3 {
    font-size: 30px;
  }
  .checkoutPageWrapper {
    .checkoutMain {
      .checkoutSection {
        .checkoutContent {
          .checkoutForm {
            .checkoutLeft {
              padding: 50px 25px;
            }

            .checkoutRight {
              .orderContainer {
                padding: 50px 25px;

                > h3 {
                  text-align: end;
                }

                .orderRow {
                  flex-direction: column;
                  align-items: end;
                  gap: 15px;

                }
              }

              .paymentContainer {
                padding: 50px 25px;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .checkoutPageWrapper {
    .checkoutMain {
      .checkoutSection {
        .checkoutContent {
          .checkoutForm {
            .checkoutLeft {
              .formRow {
                gap: 25px;
              }
            }

            .checkoutRight {
              .paymentContainer {
                .paymentPrivacyPolicy {
                  button {
                    max-width: unset;
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .checkoutPageWrapper {
    .checkoutMain {
      padding: 30px 15px 50px 15px;

      .checkoutSection {
        .checkoutContent {
          .checkoutForm {
            flex-direction: column;
            margin-top: 25px;

            .checkoutLeft {
              max-width: unset;

              .formRow {
                padding-bottom: 15px;

                .formShortBlock {
                  max-width: 50%;

                  p {
                    font-size: 16px;
                  }
                }

                .formLongBlock {
                  p {
                    font-size: 16px;
                  }
                }
              }

              .additionalInfo {
                margin-top: 15px;

                label {
                  font-size: 16px;

                  textarea {
                    height: 85px;
                  }
                }
              }
            }

            .checkoutRight {
              max-width: unset;
              gap: 25px;

              .orderContainer {
                > h3 {
                  text-align: start;
                }

                .orderRow {
                  align-items: start;
                }
              }

              .paymentContainer {
                .paymentTypeRow {
                  p {
                    font-size: 16px;
                  }
                }

                .paymentPrivacyPolicy {
                  align-items: center;

                  button {
                    width: 250px;
                    height: 40px;
                    font-size: 16px;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .checkoutPageWrapper {
    .checkoutMain {
      .checkoutSection {
        .checkoutContent {
          .headingDropdown {
            padding-bottom: 0;
          }

          .checkoutForm {
            .checkoutRight {
              .orderContainer {
                .orderRow {
                  padding: 10px 0;

                  p {
                    font-size: 16px;
                  }
                }
              }

              .paymentContainer {
                .paymentPrivacyPolicy {
                  button {
                    width: 100%;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}