@import "../../../CommonStyles/CommonStyles.modules";
@import "../../../Variables/Variables.module";
@import "../../../Animations/Animations.module";


.detailsWrapper {
  display: flex;
  justify-content: center;
  padding: 150px 100px 50px 100px;
  background: $cream;
  width: 100%;

  .detailsContent {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    color: $black;
    h1 {
      font-size: 115px;
      letter-spacing: 10px;
      line-height: 110px;
    }
    p {
      font-size: 32px;
    }
    .productsWrapper {
      display: flex;
      width: 100%;

      .productCard {
        width: 100%;
        flex-direction: column;
        display: flex;
        align-items: center;
        margin-top: 25px;
        padding-bottom: 50px;
        .productImage {
          width: 100%;
          max-width: 500px;
          img {
            width: 100%;
            object-position: center;
            object-fit: cover;
          }

        }
        .productTitle {
          font-size: 52px;
        }
      }


    }
    .container {
      display: flex;
      align-items: end;
      height: 62px;
    }


  }
}