@import "./Variables/Variables.module.scss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden!important;
    display: flex;
    flex-direction: column;
    width: 100vw;
    color: black;
    font-size: 14px;
    font-family: $main-font;
    font-weight: 400;
    font-style: normal;


}
a {
    text-decoration: none;
    color: black;
}










